[submodule "verity-squash-root"]
	path = verity-squash-root
	url = https://github.com/brandsimon/verity-squash-root.git
[submodule "archlinux/aur"]
	path = archlinux/aur
	url = https://aur.archlinux.org/verity-squash-root.git
