#!/usr/bin/make -f
export PYBUILD_NAME=verity-squash-root

%:
	dh $@ --with python3 --buildsystem=pybuild
	make install-no-py DESTDIR=$(DESTDIR)

override_dh_auto_test:
	shellcheck usr/lib/initcpio/install/verity-squash-root usr/lib/verity-squash-root/*
	flake8 src/ tests/ setup.py
	PYTHONPATH=src python3 -m unittest tests/unit/tests.py
	mypy src
